apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.frontend.name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.frontend.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.frontend.name }}
    spec:
      containers:
        - name: web
          image: "{{ .Values.frontend.image.repository }}:{{ .Values.frontend.image.tag }}"
          imagePullPolicy: {{ .Values.frontend.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.frontend.service.port }}
          # Variável de ambiente para o React saber onde está o Backend
          env:
            - name: VITE_API_URL
              # O Kubernetes cria um DNS interno: nome-do-servico.namespace
              value: "http://{{ .Values.backend.name }}-svc:{{ .Values.backend.service.port }}"

---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.frontend.name }}-svc
spec:
  type: ClusterIP
  selector:
    app: {{ .Values.frontend.name }}
  ports:
    - port: {{ .Values.frontend.service.port }}
      targetPort: {{ .Values.frontend.service.port }}
