apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ .Values.backend.name }}-monitor
  labels:
    release: monitoring  
spec:
  selector:
    matchLabels:
      app: {{ .Values.backend.name }} 
  endpoints:
    - port: http   
      path: /metrics
      interval: 15s